/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#nextjs frontend
public/_next
public/fonts
public/images
public/videos
public/index.html
public/diagnostico.html
public/404.html